.services-bg {
  padding: 120px 0px 0px 0px;
  /* box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2); */
}

.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.services-item {
  margin-top: 32px;
  display: grid;
  gap: 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  transition: all 0.3s;
}

.services-item:hover {
  transform: scale(1.01);
}

.services-title::after {
  width: 530px;
}

.services-item img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2), 0 -3px 4px rgba(0, 0, 0, 0.2);
}

.services-subtitle {
  transition: all 0.3s;
  position: relative;
}

.services-subtitle::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--text-primary-color);
  margin-top: 4px;
  transition: 0.35s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.services-item:hover .services-subtitle::after {
  width: 80%;
}

@media (max-width: 800px) {
  .services-bg {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .services-title::after {
    width: 350px;
  }

  /* .services-title {
    font-size: 2rem;
  } */

  .services-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .services-item {
    margin-top: 24px;
    display: grid;
    text-align: center;
    justify-content: center;
  }

  .services-item img {
    width: 300px;
    /* grid-column: 1/-1; */
    height: 250px;
  }

  .services-subtitle {
    font-size: 20px;
  }

  .services-subtitle::after {
    display: none;
  }
}
